torchvision==0.16.2
opencv-python==4.9.0.80
matplotlib==3.9.0
numpy==1.26.4
einops
datasets
tensorflow==2.16.1
scikit-learn
scikit-image
ftfy
bs4
timm
torchmetrics
accelerate
controlnet_aux
ftfy
clean-fid
safetensors